<h1>{{data.name}}</h1>
<ul>
    <li>Birthplace: {{data.birthplace}}</li>
    <li>Year of Death: {{data.death_year}}</li>
    <li>Based in: {{data.base}}</li>
    <li>Nickname: {{data.nickname}}</li>
</ul>
<br>
<a href='/pirates/{{id}}/edit'>Edit</a>
<br>
<br>
<a href='/pirates'>Go back</a>